<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sprague Resources Agrees to Acquire Coen Energy</title>
	<link href="https://epgmedia.s3.amazonaws.com/email/fueloilnews/Enewsletters/FON_enewsletter.css" rel="stylesheet" type="text/css" />
</head>
<body style="margin:auto">
<table align="center" border="0" cellpadding="10" cellspacing="0" width="728">
	<tbody>
		<tr>
			<td style="border:1px solid #000000;">
			<table align="center" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td align="left" class="whispertext" width="300">
						<p>Fuel Oil News e-newsletter - November 2017</p>
						</td>
						<td align="right" class="whispertext" width="428">
						<p><a align="right" choice="10" class="Online Version" href="@{mv_online_version}@" target="_blank">View this email online</a></p>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- Leaderboard -->

			<table align="center" border="0" cellpadding="0" cellspacing="0">
				<tbody>
					<tr>
						<td><img alt="FON e-newsletter" border="0" height="156" src="https://epgmedia.s3.amazonaws.com/email/fueloilnews/Enewsletters/images/header-red%20new.jpg" style="display:block;" width="728" /></td>
					</tr>
				</tbody>
			</table>

			<table border="0" cellpadding="0" cellspacing="0" width="728">
				<tbody>
					<tr>
						<td align="center" style="background:#c71719; color:#ffffff; padding:5px 0px 5px 15px; font-weight:bold; font-size:12px" width="142"><a href="https://epg-reg.onecount.net/onecount/flexreg/displayform.php?g=0&amp;form=233&amp;brand=FON" style="border:none; color:#ffffff; font: 12px Arial, Helvetica, sans-serif; font-weight:bold" target="_blank">SIGNUP</a></td>
						<td align="center" style="background:#c71719; color:#ffffff; padding:5px 0px 5px 15px; font-weight:bold; font-size:12px" width="142"><a href="https://fueloilnews.com/digital-edition-archives/" style="border:none; color:#ffffff; font: 12px Arial, Helvetica, sans-serif; font-weight:bold" target="_blank">ARCHIVE</a></td>
						<td align="center" style="background:#c71719; color:#ffffff; padding:5px 0px 5px 15px; font-weight:bold; font-size:12px" width="143"><a href="https://fueloilnews.com/advertise/" style="border:none; color:#ffffff; font: 12px Arial, Helvetica, sans-serif; font-weight:bold" target="_blank">ADVERTISE</a></td>
						<td align="center" style="background:#c71719; color:#ffffff; padding:5px 0px 5px 15px; font-weight:bold; font-size:12px" width="300"><a href="https://fueloilnews.com/" style="border:none; color:#ffffff; font: 12px Arial, Helvetica, sans-serif; font-weight:bold" target="_blank">Read more news at fueloilnews.com</a></td>
					</tr>
				</tbody>
			</table>
			<!-- ads -->

			<table align="center" border="0" cellpadding="0" cellspacing="0" width="728">
				<tbody>
					<tr>
						<td width="3">&nbsp;</td>
						<td align="center" valign="middle" width="728"><a href="https://www.addsys.com/industries/heating-oil/?utm_source=fueloilnews&amp;utm_medium=enewsletter&amp;utm_content=ravenfuelercombo_728x90&amp;utm_campaign=general" target="_blank"><img alt="ADD" border="0" class="ads" src="https://epgmedia.s3.amazonaws.com/email/fueloilnews/Enewsletters/images/images/ADD8873-1_RavenCompanionFleetFueler_08.08.17_728x90.jpg" style="display:block" width="728" /></a></td>
						<td width="1">&nbsp;</td>
					</tr>
				</tbody>
			</table>

			<table align="center" border="0" cellpadding="5" cellspacing="0" width="728">
				<tbody>
					<tr><!-- In This Issue -->
						<td align="left" bgcolor="#9fb1bf" class="inThisIssue" valign="top" width="200">
						<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-bottom: solid 3px #505a68">
							<tbody>
								<tr>
								</tr>
								<tr>
									<td colspan="3" height="10">&nbsp;</td>
								</tr>
								<tr>
									<td align="left" style="color: #ffffff; font: 20px Arial, Helvetica, sans-serif; padding: 10px 0 10px 0;">Read the Current Issue</td>
								</tr>
								<tr>
									<td align="center"><a href="https://read.epgmediallc.com/i/890065-fuel-oil-news-november-2017" target="_blank"><img alt="Cover" border="0" height="243" src="https://epgmedia.s3.amazonaws.com/email/fueloilnews/FON_DigitalEditions/2017/FON1711-Cover.jpg" width="180" /></a></td>
								</tr>
								<tr>
									<td align="left" class="inthisissue" style="color:#ffffff;" width="180">
									<p><a href="https://m2media360-sub.halldata.com/site/M2M000372FOland/init.do?&amp;PK=" style="color:#ffffff;" target="_blank">Subscribe to the digital edition!</a></p>
									</td>
								</tr>
								<tr>
									<td align="left" class="inthisissue" width="180">&nbsp;</td>
								</tr>
								<tr>
									<td align="left" class="inthisissue" style="color: #ffffff; font: 20px Arial, Helvetica, sans-serif; padding: 0 0 5px 0;" width="180">From the Magazine:</td>
								</tr>
								<tr>
									<td align="left" class="inthisissue" width="180">
									<p><a href="https://fueloilnews.com/2017/11/16/nora-project-yields-new-boiler-design/" style="color:#ffffff;" target="_blank">NORA Project Yields New Boiler Design</a></p>
									</td>
								</tr>
								<tr>
									<td align="left" class="inthisissue" width="180">
									<p><a href="https://fueloilnews.com/2017/11/16/propane-exports-change-the-retail-business/" style="color:#ffffff;" target="_blank">Propane Exports Change the Retail Business</a></p>
									</td>
								</tr>
								<tr>
								</tr>
							</tbody>
						</table>
						<!-- ads -->

						<table height="20">
							<tbody>
								<tr>
									<td>&nbsp;</td>
								</tr>
							</tbody>
						</table>

						<table>
							<tbody>
								<tr>
									<td width="3">&nbsp;</td>
									<td align="center" valign="middle" width="736"><a href="https://www.woehler.de/us/service-support/videos/#c3623" target="_blank"><img alt="WohlerUSA" border="0" class="ads" src="https://epgmedia.s3.amazonaws.com/email/fueloilnews/FON_DigitalEditions/2017/FON%20November%20Button_Wohler%5B1%5D.jpg" style="display:block" width="125" /></a></td>
									<td width="1">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						&nbsp;

						<table>
							<tbody>
								<tr>
									<td width="3">&nbsp;</td>
									<td align="center" valign="middle" width="736"><a href="https://www.ctema.com/store/products_view.php?url_product_id=936" target="_blank"><img alt="CEMA" border="0" class="ads" src="https://epgmedia.s3.amazonaws.com/email/fueloilnews/Ads/cema%20button.jpg" style="display:block" width="125" /></a></td>
									<td width="1">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</td>
						<td class="leadStoryTables" valign="top" width="520"><!-- Top Story -->
						<table cellpadding="0" cellspacing="0" border="0" width="586" style="width: 586px; max-width:586px;">
										<tr></tr>
										<tr>
											<td>
												<table width="740" cellpadding="0" cellspacing="0" border="0" align="center" style="width: 740px; max-width:740px;">
                                                    													<tr>
														<td style="padding:10px 10px 5px 0;font-family: Arial; font-size: 12px; line-height: 18px;" valign="top">
                                                    <% for (let item of top_news_items) { %>
                                                        <table align="center" bgcolor="" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td align="left" class="topStory" style="padding-bottom:0" valign="top" width="520">
															<a alias="Title-<%= item.title %>" href="<%= item.link %>" style="font-size:14px; color:#000000" target="_blank">
																<h2><%= item.title %></h2>
															</a>
                                                                <table align="right" border="0" cellpadding="4" cellspacing="0">
									                               </table>

                                                                    <p><%- item.description %><br />
                                                                    <a href="<%= item.link %>" target="_blank">Read more</a></p>
                                                                </td></tr></tbody></table>
                                            
                                                                <br /><br />
                                                    <% } %>
                                                            </td>
                                                        </tr>
                                                        </td>
                                                    </tr>
												</table>
											</td>
										</tr>
									</table>

						<table align="center" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
								</tr>
							</tbody>
						</table>

						
						<br />
						<br />
						&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<custom name="opencounter" type="tracking">
			<table align="center">
				<tbody>
					<tr>
						<td>
						<p style="color: #000000; font-size: 12px; font-variant: normal; font-weight: normal; font-style: normal; text-align: center; line-height: 1.5em; font-family: Arial, Helvetica, sans-serif; margin: 0 0 1em;">This email was sent to you on behalf of Fuel Oil News<br />
						EPG Media &amp; Specialty Information, 10405 6th Avenue North, Suite 210,<br />
						Minneapolis, MN 55441<br />
						For more news and information visit <a href="https://www.FuelOilNews.com/">https://www.FuelOilNews.com/</a><br />
						or our <a href="https://epgmediallc.com/subscribe/">Subscription Center</a><br />
						<span xml="lang">Copyright 2018 by EPG Media &amp; Specialty Information </span><br />
<a href="https://epgmediallc.com/privacy-policy/" target="_blank">Privacy Policy</a><br />
<a href="@{confirmunsubscribelink}@"><span xml="lang">opt out</span></a><br />
						<custom name="opencounter" type="tracking"> </custom></td>
					</tr>
				</tbody>
			</table>
			</custom></td>
		</tr>
	</tbody>
</table>
</body>
</html>