<!doctype html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Synthetic Turf Insider</title>
	</head>
	<body>
		<table width="740" cellpadding="0" cellspacing="0" border="0" align="center" style="font-family:Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:14px; line-height:18px">
			<tr>
				<td style="border:1px solid #000000;">
					<table align="center" cellpadding="0" cellspacing="0" border="0" width="740">
						<tr>
							<td align="left" valign="middle" width="438" style="font:10px Arial, Helvetica, sans-serif; line-height:1.2em; padding-left:10px">
								<!-- CUSTOM: preheader -->
								<custom type="content" name="preheader">
							</td>
							<td align="right" valign="middle" width="437" style="font:10px Arial, Helvetica, sans-serif; line-height:1.2em;">
								Click here to view <a choice="10" target="_blank" href="@{mv_online_version}@" CLASS="online version">online</a>
							</td>
						</tr>
					</table>
					<!-- 728x90 -->
					<table border="0" align="center" cellpadding="0" cellspacing="0" width="740" style="width: 740px; max-width:740px;">
									 	<tr>
											<td height="10" colspan="4"></td>
										</tr>
										<tr>
											<td align="center" bgcolor="#ffffff" style="width:740px;vertical-align:top;">
												<!-- CUSTOM: leaderboard1 -->
												<custom type="content" name="Leaderboard 1">
												<p>!!! --- PUT AD HERE --- !!!</p>
											</td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
				    </table>
                    <!-- 728x90 -->
					<table border="0" align="center" cellpadding="0" cellspacing="0" width="740" style="width: 740px; max-width:740px;">
									 	<tr>
											<td height="10" colspan="4"></td>
										</tr>
										<tr>
											<td align="center" bgcolor="#ffffff" style="width:740px;vertical-align:top;">
												<!-- CUSTOM: leaderboard1 -->
												<custom type="content" name="Leaderboard 1">
												<p>!!! --- PUT AD HERE --- !!!</p>
											</td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
				    </table>
					<table cellpadding="0" cellspacing="0" border="0" align="center" width="740">
						<tr>
							<td width="6"></td>
							<td width="728" height="90" align="left" valign="middle" style="padding-bottom:10px">
								<a href="https://www.sportsturfonline.com/ME2/Audiences/default.asp" target="_blank">
									<img src="https://epgmedia.s3.amazonaws.com/email/synthetic_turf/images/syntheticturf-header-728.jpg" alt="Synthetic Turf Insider" border="0" width="728" height="121" style="display:block"/>
								</a>
							</td>
							<td width="6"></td>
						</tr>
					</table>
					<table cellpadding="0" cellspacing="0" border="0" width="740" align="center">
						<tr>
							<td width="137" align="right" valign="middle" bgcolor="#FFFFFF" style="color:#000000; font: 18px Arial, Helvetica, sans-serif; padding-right:10px"><%= month %> <%= day %>, <%= year %></td>
							<td width="100" style="background:#168831; color:#ffffff; padding:5px 0px 5px 15px; font-weight:bold; font-size:12px" align="center">
								<a href="https://www.sportsturfonline.com/ME2/Audiences/dirmod.asp?sid=6814BA24E9054B23AFFAEC785314C646&nm=Site+Registration&type=register&mod=Members&tier=2&formid=666FBE6C24D841C09467E24E94AE5C8D&AudID=374222F1A4794C91A8E3D4464352DF70" target="_blank" style="text-decoration:none; color:#ffffff;">SIGNUP</a>
							</td>
							<td width="100" style="background:#168831; color:#ffffff; padding:5px 0px 5px 15px; font-weight:bold; font-size:12px" align="center">
								<a href="https://www.greenmediaonline.com/Console/Common/RssEmailBroadcast/Activity.asp?ReportName=5AD6C94B1682416F974478C35FE0B53A\2014-08-29-1-30-16-AM.xml&EmailURL=https://www.sportsturfonline.com/ME2/Audiences/dirmod.asp?sid=43E91E7F6E244F4C9357F73BE3523C30&type=gen&mod=Core+Pages&gid=322BA4ECA4094CA899C1AA489A231255&AudID=374222F1A4794C91A8E3D4464352DF70" target="_blank" style="text-decoration:none; color:#ffffff;">ARCHIVE</a>
							</td>
							<td width="100" style="background:#168831; color:#ffffff; padding:5px 0px 5px 15px; font-weight:bold; font-size:12px" align="center">
								<a href="https://www.greenmediaonline.com/Console/Common/RssEmailBroadcast/Activity.asp?ReportName=5AD6C94B1682416F974478C35FE0B53A\2014-08-29-1-30-16-AM.xml&EmailURL=https://www.sportsturfonline.com/ME2/Audiences/dirmod.asp?sid=507AB4C5333741E0982F38E8FDA55565&type=gen&mod=Core+Pages&gid=072D5011ACBD40E4BA83DF8C52828F76&AudID=374222F1A4794C91A8E3D4464352DF70" target="_blank" style="text-decoration:none; color:#ffffff;">ADVERTISE</a>
							</td>
							<td width="300" style="background:#168831; color:#ffffff; padding:5px 0px 5px 15px; font-weight:bold; font-size:12px" align="center">Read more news at sportsturfonline.com</td>
						</tr>
					</table>
					<!-- 728x90 -->
					<table border="0" align="center" cellpadding="0" cellspacing="0" width="740" style="width: 740px; max-width:740px;">
									 	<tr>
											<td height="10" colspan="4"></td>
										</tr>
										<tr>
											<td align="center" bgcolor="#ffffff" style="width:740px;vertical-align:top;">
												<!-- CUSTOM: leaderboard1 -->
												<custom type="content" name="Sponsored">
												<p>!!! --- PUT AD HERE --- !!!</p>
											</td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
				    </table>
					<table cellpadding="0" cellspacing="0" border="0" width="740" align="center">
						<tr>
							<td width="12"></td>
							<td width="120" valign="top">
								<table border="0" align="center" cellpadding="0" cellspacing="0" width="120" style="width: 120px; max-width:160px;">
									 	<tr>
											<td height="10" colspan="4"></td>
										</tr>
										<tr>
											<td align="center" bgcolor="#ffffff" style="width:740px;vertical-align:top;">
												<!-- CUSTOM: leaderboard1 -->
												<custom type="content" name="tower ad 1">
												<p>!!! --- PUT AD HERE --- !!!</p>
											</td>
										</tr>
										<tr>
											<td height="10"></td>
										</tr>
									</table>
								<br/>
							</td>
							<td width="10"></td>
							<td width="586" valign="top">

								<!-- Featured Items: BEGIN -->

								<table cellpadding="0" cellspacing="0" border="0" width="586">
									<tr>
										<td width="586" bgcolor="#7b7b7b" height="24" valign="middle" align="left" style="color:#FFFFFF; font: 400 18px Arial, Helvetica, sans-serif; text-align:left; padding:5px 0px 5px 15px;">Feature</td>
									</tr>
									<% for (let item of featured_items) { %>
									<tr>
										<td>
											<table width="586" cellpadding="0" cellspacing="0" border="0" align="center">
												<tr>
													<td style="padding:10px 10px 5px 0;font-family: Arial; font-size: 12px; line-height: 18px;" valign="top">
														<table cellpadding="0" cellspacing="0" border="0" align="left">
															<tr>
																<td style="padding:0 10px 5px 0;mso-table-rspace:5pt;border-collapse:collapse;" valign="top">
																	<img src="<%= item.image %>" width="200" style="border:none; background:#cfcbcb; display:block" alt="<%= item.title %>"/>
																</td>
															</tr>
														</table>
														<a alias="Title-<%= item.title %>" href="<%= item.link %>" style="font-size:14px; color:#000000;" target="_blank">
															<strong><%= item.title %></strong>
														</a>
														<br/>
														<%- item.description %>
														&nbsp;
														<a alias="Read More-<%= item.title %>" href="<%= item.link %>" style="font-size:13px; color:#168831;white-space:nowrap" target="_blank">Read More</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<% } %>
								</table>

								<!-- Featured Items: END -->

								<!-- Daily Items: BEGIN -->

								<table cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td height="10"></td>
									</tr>
									<tr>
										<td width="586" bgcolor="#7b7b7b" height="24" valign="middle" align="left" style="color:#FFFFFF; font: 400 18px Arial, Helvetica, sans-serif; text-align:left; padding:5px 0px 5px 15px;">Daily News</td>
									</tr>
									<tr>
										<td>
											<% for (let i = 0; i < daily_items.length; i++) { %>
												<% let item = daily_items[i]; %>
												<% if (i % 2 === 0) { %>
											<table cellpadding="0" cellspacing="0" border="0" align="center" width="586">
												<tr>
													<td valign="top" align="left" width="288">
												<% } else { %>
													<td width="288">
												<% } %>
														<table width="288" cellpadding="0" cellspacing="0" border="0" align="left">
															<tr>
																<% if (i <= 1) { %>
																	<% if (i % 2 === 0) { %>
																<td style="padding:10px 10px 5px 0;font-family: Arial; font-size: 12px; line-height: 18px;" valign="top">
																	<% } else { %>
																<td style="padding:10px 10px 5px 10px;font-family: Arial; font-size: 12px; line-height: 18px;" valign="top">
																	<% } %>
																<% } else { %>
																	<% if (i % 2 === 0) { %>
																<td style="padding:10px 10px 5px 0;font-family: Arial; font-size: 12px; line-height: 18px; border-top: 1px dashed #999999;" valign="top">
																	<% } else { %>
																<td style="padding:10px 10px 5px 10px;font-family: Arial; font-size: 12px; line-height: 18px; border-top: 1px dashed #999999;" valign="top">
																	<% } %>
																<% } %>
																	<a alias="Title-<%= item.title %>" href="<%= item.link %>" style="font-size:14px; color:#000000;" target="_blank">
																	<strong><%= item.title %></strong>
																	</a>
																	<br/>
																	<%- item.description %>
																	&nbsp;
																	<a alias="Read More-<%= item.title %>" href="<%= item.link %>" style="font-size:13px; color:#168831;white-space:nowrap" target="_blank">Read More</a>
																</td>
															</tr>
														</table>
													</td>
												<% if (i % 2 === 0) { %>
													<% if (i === 0) { %>
													<td width="10" style="border-right:1px dashed #999999;"></td>
													<% } else { %>
													<td width="10" style="border-top:1px dashed #999999; border-right:1px dashed #999999;"></td>
													<% } %>
												<% } else { %>
												</tr>
											</table>
												<% } %>
											<% } %>
										</td>
									</tr>
								</table>

								<!-- Daily Items: END -->

								<!-- Product Items: BEGIN -->

								<table cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td height="10"></td>
									</tr>
									<tr>
										<td width="586" bgcolor="#7b7b7b" height="24" valign="middle" align="left" style="color:#FFFFFF; font: 400 18px Arial, Helvetica, sans-serif; text-align:left; padding:5px 0px 5px 15px;">Product News</td>
									</tr>
									<% for (let item of product_items) { %>
									<tr>
										<td>
											<table width="586" cellpadding="0" cellspacing="0" border="0" align="left">
												<tr>
													<td style="padding:10px 10px 5px 0;font-family: Arial; font-size: 12px; line-height: 18px;" valign="top">
														<a alias="Title-<%= item.title %>" href="<%= item.link %>" style="font-size:14px; color:#000000" target="_blank">
															<strong><%= item.title %></strong>
														</a>
														<br/>
														<%- item.description %>
														&nbsp;
														<a alias="Title-<%= item.title %>" href="<%= item.link %>" style="font-size:13px; color:#168831;white-space:nowrap" target="_blank">Read More</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<% } %>
								</table>

								<!-- Product Items: END -->

								<!-- Personnel Items: BEGIN -->

								<table cellpadding="0" cellspacing="0" border="0">
									<tr>
										<td height="10"></td>
									</tr>
									<tr>
										<td width="586" bgcolor="#7b7b7b" height="24" valign="middle" align="left" style="color:#FFFFFF; font: 400 18px Arial, Helvetica, sans-serif; text-align:left; padding:5px 0px 5px 15px;">Personnel News</td>
									</tr>
									<% for (let item of personnel_items) { %>
									<tr>
										<td>
											<table width="586" cellpadding="0" cellspacing="0" border="0" align="left">
												<tr>
													<td style="padding:10px 10px 5px 0;font-family: Arial; font-size: 12px; line-height: 18px;" valign="top">
														<a alias="Title-<%= item.title %>" href="<%= item.link %>" style="font-size:14px; color:#000000" target="_blank">
															<strong><%= item.title %></strong>
														</a>
														<br/>
														<%- item.description %>
														&nbsp;
														<a alias="Title-<%= item.title %>" href="<%= item.link %>" style="font-size:13px; color:#168831;white-space:nowrap" target="_blank">Read More</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<% } %>
								</table>

								<!-- Personnel Items: END -->

							</td>
							<td width="12"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<p align="center">
			<span xml="lang">
				This email was sent to you on behalf of 
				<span xml="lang">
					Sports Turf Magazine <br>
					EPG Media LLC and Specialty Information Media, 10405 Sixth Avenue N, Suite 210, Plymouth, MN 55441 <br>
					Copyright 2018 by Specialty Information Media <br>For more news and information visit 
				</span>
				<a href="https://sportsturfonline.com/">
					<span xml="lang">https://sportsturfonline.com/</span>
				</a> and the
            <a href="https://epgmediallc.com/subscribe/">
				<span xml="lang">
					Subscription Center
				</span>
			</a>
				<span xml="lang"><br/></span>
                <a href="https://epgmediallc.com/privacy-policy/" target="_blank">Privacy Policy</a><br />
				<a href="@{confirmunsubscribelink}@"><span xml="lang">opt out</span></a>
				<span xml="land"><br/></span>
				<a href="@{forwardtoafriendlink}@"><span xml="lang">Refer a Friend</span></a>
			</span>
		</p>
		<p align="center" style="text-align: center;">
			<br/>
		</p>
		<!-- CUSTOM: tracking -->
		<custom name="opencounter" type="tracking">
	</body>
</html>
